@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Raleway|Roboto|Ubuntu&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    color: #919397;
    font-family: 'Ubuntu', sans-serif;
}

:focus {
    outline: none;
}

.main {
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    font-size: 150%;
}

.list {
    max-width: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 200;
}

.list-line {
    display: flex;
    min-width: 280px;
    max-width: 440px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 16px;
    background-color: white;
    border-radius: 20px;
    transition: opacity 0.1s;
    box-shadow: 0 4px 10px #827272;
    box-sizing: border-box;
}

.list_active > .list-line_completed,
.list_completed > .list-line_active {
    text-decoration: line-through;
    opacity: 30%;
}

.list-line > .list-line__text {
    opacity: 100%;
}


.list-line__text {
    flex-grow: 1;
    text-align: left;
    font-size: 130%;
    margin-left: 8px;
    overflow: hidden;
    transition: opacity 0.6s;
}

.list-line__delete-button {
    border-width: 1px;
    border-color: gray;
    background-color: whitesmoke;
    font-weight: 700;
    font-size: 90%;
    color: gray;
    padding: 8px 16px;
    height: 100%;
}

.list-line__checkbox {
    display: flex;
    margin-left: 10px;
    flex-flow: row;
}

.list-line__checkbox__check-mark {
    display: none;
}

.list-line__checkbox__image {
    display: block;
    background-color: white;
    border-width: 2px;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    box-shadow: 0 2px 5px #827272;
}

.list-line__checkbox__check-mark:checked + .list-line__checkbox__image:before {
    display: inline-block;
    position: relative;
    left: 4px;
    bottom: 1px;
    content: '';
    width: 5px;
    height: 2px;
    border: none;
    border-radius: 1px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.list-line__checkbox__check-mark:checked + .list-line__checkbox__image:after {
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: 1px;
    content: '';
    width: 10px;
    height: 2px;
    background: white;
    border: none;
    border-radius: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.list-line__checkbox__check-mark:checked + .list-line__checkbox__image {
    background-color: green;
}

.query {
   display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}

.query_active > .query-background {
    position: fixed;
    min-height: 100% ;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 40%;
}

.query_active > .query-window {
    display: flex;
    position: fixed;
    top: 0;
    margin-top: 200px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 32px 24px;
    border: 2px solid #6c797f;
    border-radius: 10px;
    box-shadow: 0 0 5px #564646;
}

.query_disabled {
    display: none;
}

.query-window__input {
    flex: 1 0 0;
    font-size: 100%;
    padding: 2px;
    border: 2px solid #6c797f;
    border-radius: 4px;
}

.query-window__button {
    min-width: 80px;
    background-color: dodgerblue;
    color: white;
    font-size: 100%;
    margin-left: 16px;
    padding: 6px;
    border-radius: 5px;
    border: none;

}

.filter {
    display: flex;
    margin-top: 8px;
    border: 2px solid #6c797f;
    border-radius: 4px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.filter__value {
    text-decoration: none;
    color: #6c797f;
    padding: 8px;
}

.filter__value:target {
    margin: -2px;
    border: 2px solid dodgerblue;
    border-radius: 4px;
    color: dodgerblue;
}

.add-new-button {
    position: fixed;
    bottom: 0;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    padding: 5px 5px;
    border-radius: 50%;
    border-width: 0;
    font-size: 50px;
    font-weight: normal;
    line-height: 25px;
    background-color: dodgerblue;
    color: white;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-360deg);
    }
}

.loading-spinner {
     animation: .5s linear infinite spinner;
     border: solid 3px #eee;
     border-bottom-color: dodgerblue;
     border-radius: 50%;
     content: "";
     height: 40px;
     left: 50%;
     opacity: inherit;
     position: fixed;
     top: 50%;
     transform: translate3d(-50%, -50%, 0);
     transform-origin: center;
     width: 40px;
     will-change: transform;
}


.loading {
    position: static;
}

.loading.loading_disabled{
    display: none;
}

.loading-background {
    position: fixed;
    min-height: 100% ;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 40%;
}




